<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]>
<html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en' xmlns:th="http://www.thymeleaf.org">
<!-- <![endif] -->
<head>
    <title>SURFconext</title>
    <meta charset='utf-8' content='text/html' http-equiv='content-type'/>
    <meta content='ie=edge,chrome=1' http-equiv='x-ua-compatible'/>
    <meta content='' name='description'/>
    <meta content='' name='author'/>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'/>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1' media='(device-height: 568px)' name='viewport'/>
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <meta content='translucent-black' name='apple-mobile-web-app-status-bar-style'/>
    <link th:href="@{/css/app.css}" media="screen" rel="stylesheet"/>
</head>
<body class='index'>
<div class='mod-header'>
    <h1 class='title' th:text="#{error.page.header}"></h1>

    <div class='meta'>
        <ul class='comp-language'>
            <li>
                <a data-lang="en" th:class="__${#locale}__=='en'?'selected':''" href='#'>EN</a>
            </li>
            <li>
                <a data-lang="nl" th:class="__${#locale}__=='nl'?'selected':''" href='#'>NL</a>
            </li>
        </ul>
    </div>
</div>
<div class='l-container'>
    <div class='box'>
        <div class='mod-content'>
            <header>
                <img th:src="@{/images/team.svg}"/>
                <h1 th:text="#{error.page.greeting}"></h1>
            </header>
            <p th:text="#{error.page.message}"></p>
            <p th:text="#{error.page.email}"></p><a th:href="'mailto:' + ${@environment.getProperty('errorPage.email')}" th:text="${@environment.getProperty('errorPage.email')}"></a>
        </div>
    </div>
</div>
<div class='l-footer' id='footer'>
    <nav class='mod-footer'>
        <ul class="footer-menu">
            <li class="nav-row left"><p th:utext="#{confirm.page.footer}"></p></li>
            <li class="nav-row">
                <ul class='comp-language'>
                    <li>
                        <a data-lang="en" th:class="__${#locale}__=='en'?'selected':''" href='#'>EN</a>
                    </li>
                    <li>
                        <a data-lang="nl" th:class="__${#locale}__=='nl'?'selected':''" href='#'>NL</a>
                    </li>
                </ul>
            </li>
            <li class="nav-row right">
                <ul class="comp-links">
                    <li>
                        <a target="_blank" th:text="#{confirm.page.service}" th:href="#{confirm.page.service.link}"></a>
                    </li>
                </ul>
            </li>
        </ul>


    </nav>
</div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
